// fonts

@font-face {
	font-family: BMitra;
	font-weight: normal;
	src: url('fonts/BMitra.eot?#') format('eot'), url('fonts/BMitra.woff') format('woff'), url('fonts/BMitra.ttf') format('truetype');
}
@font-face {
	font-family: BMitra;
	font-weight: bold;
	src: url('fonts/BMitraBold.eot?#') format('eot'), url('fonts/BMitraBold.woff') format('woff'), url('fonts/BMitraBold.ttf') format('truetype');
}

/* general */

body, input, button, p {
	font-family: 'B Mitra', BMitra, Arial;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
}

.btn {
	font-size: 16px;
	line-height: 16px;	
}

ul, ol {
	padding-right: 20px;
}
li {
	line-height: 20px;
}

.table th, .table td {
	text-align: right;
}

.carousel-control {
	direction: ltr;
	line-height: 45px;
}

/* reghaabat */

body {
	direction: rtl;
	background: url(images/pattern.png);
}

h2 {
	margin-bottom: 5px;
}

#oo {
	margin: 10px;
	text-align: center;
}

#logo {
	margin: 0 auto;
	display: block;
}

.centered {
	width: 600px;
	margin: 10px auto 0;
}

#kharazi {
	margin: 90px auto 30px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 7px 0px #ccc;
}
#kharazi img {
	float: right;
	margin-top: -90px;
}
#kharazi h2 {
	float: right;
	margin-top: -50px;
}
#kharazi p {
	clear: both;
	padding: 2px;
	margin: 0;
}
